Add FromHeader implementation for Date types.

Implement as per RFC822 Section 5.
